 <div class="container">
    <div class="nav-right">
      
     
      <button routerLink="/change-theme">Change Theme</button>
      
      <button routerLink="/validate-projects">Validate Projects</button>
     
      <button routerLink="/delete-comment">Delete Comment</button>
      <button routerLink="/admin-messages">contact creat</button>
    </div>
    <div class="nav">
      <button routerLink="/navbar">LogOut admin</button>
      <img src="assets\login2.png">
    </div>
  </div>
  <div class="container">
    <div class="img-container">
      <img src="assets\crowd.jpg">
    </div>
 <h2></h2>
 <app-satisticals></app-satisticals>
 
<router-outlet></router-outlet>

