
<div class="container">
    <div class="nav-right">
      
     
      <button routerLink="/contact">Contact</button>
      
      <button routerLink="/project-form">Insights</button>
       <button >Setting</button>
      <button routerLink="/navbar">LogOut </button>
     
      
      
    </div>
    <div class="nav">
     
      <img src="assets\login2.png"><h4>My Account</h4>
    </div>
  </div>

  <div class="img-container">
    <img src="assets\crowd.jpg">
  </div>
  <h2>Satisticals:</h2>
<app-dashboard></app-dashboard>
<router-outlet></router-outlet>


